<!--Code adapted from W3 Schools-->
<!--This is the log in form-->
<div id="backDiv">
    <div class="form-popup" id="myForm">
        <h1 id="title">Login</h1>

        <h2 id="InvalidPassword"></h2>

        <label for="username"><b>Username</b></label>
        <input id="usernameInp" type="text" placeholder="Enter Username" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input id="passwordInp" type="password" placeholder="Enter Password" name="psw" required>


        <button type="submit" id="loginSubmitButton" class="btn">Login</button>
        <button type="button" id="loginCloseButton" class="btn">Close</button>

        <button type="button" id="newAccount" class="btn">New user? Create an account</button>
        <button type="button" style="display:none" id="signUp" class="btn">Sign Up</button>
    </div>
</div>