#pageContent{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
}

.eventDiv {
    height: 500px;
    border: 1px solid black;
    padding-left: 2%;
    margin: 5%;
    position: relative;
    overflow: auto;
}

.loggedIn {
    display: none;
}

.posterImg {
    width: 95%;
    max-height: 250px;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: medium;
}

.imInterested {
    width: 95%;
    padding: 5px;
    background-color: #adaab2;
    color: black;
    border: 2px solid black;
}

.imInterested:hover {
    background-color: #98949f;
}

.imInterested:active {
    background-color: #4d4a52;
}