body {
    /*Set the width of the page to be a mac of 1080 pixels*/
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    /*Set the background colour to be grey */
    background-color: rgb(235, 235, 235);
}
  