/* The popup form - hidden by default */
/*Adapted from W3 Schools https://www.w3schools.com/howto/howto_js_popup_form.asp*/
/*Code adapted from https://codeshack.io/basic-login-system-nodejs-express-mysql/*/
body {
    /*Set the width of the page to be a mac of 1080 pixels*/
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    /*Set the background colour to be grey */
    background-color: rgb(235, 235, 235);
}


#backDiv{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    background-color: white;
    z-index: 99;
    padding: 30px;
    display: none;
}

/* Add styles to the form container */
#form-popup {
  display: block;
  z-index: 99;
  max-width: 300px;
  padding: 100px;
  background-color: white;
}

/* Full-width input fields */
#passwordInp, #usernameInp{
  width: 94%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border: 1px solid black;
}

/* When the inputs get focus, do something */
#passwordInp:focus, #usernameInp:focus {
  background-color: #ddd;
  outline: none;
  border: 2px solid black;
}

/* Set a style for the submit/login button */
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
}

/* Add a red background color to the cancel button */
#loginCloseButton {
  background-color: red;
}

#newAccount{
  background-color: lightblue;
}

#signUp{
  background-color: #04AA6D;
}

#InvalidPassword{
    color: red;
}

#loginSubmitButton:hover{
  background-color: rgb(3,148,94);
}

#loginCloseButton:hover{
  background-color: rgb(196,0,0);
}

#newAccount:hover{
  background-color: rgb(108,185,210);
}

#signUp:hover{
  background-color: rgb(3,148,94);
}
/* Add some hover effects to buttons 
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}*/