body {
    /*Set the width of the page to be a mac of 1080 pixels*/
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    /*Set the background colour to be grey */
    background-color: rgb(235, 235, 235);
  }
  

/*Edit the div naved navbar */
.navbar {
    /*Set the navbar to be sticky when it is 0 pixels from the top of the Page
  This means it will stick t the top of the page*/
    position: sticky;
    top: 0px;
    /* Sets the z-index of the navbar to be high so that it appears infromt of everything. Specifically images that are set to absolute*/
    z-index: 50;
  }
  
  /*This is the navigation bar*/
  /*This generally declares the background for the navigation bar*/
  
  
  ul {
    width: 100%;
    list-style-type: none;
    /*Sets the margin and padding around the buttons to be 0 so that the navbar is sized well*/
    margin: 0;
    padding: 0;
    /*Sets anything that is outwith the navbar to */
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  /*Sets the text in the navbar to be to the lext of the navigation Bar*/
  liNav {
    float: center;
  }
  
  /*This the declaration of the links in the navigation bar*/
  liNav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
    width: 200px;
   /* min-width: 200px;*/
    font-size: 20pt;
  }

  #right{
      float: right;
  }
  
  /*This is used on a page that is open. The code is practically the same other than there is a thin read border on the bottom of the page to ensure that the user knows what page they are on */
  .active {
    border-bottom: 4px solid rgb(255, 0, 0);
  }
  
  /*WHen the mouse is hovering over the particular box in the navigation bar the colour of the box around the link will go grey*/
  liNav a:hover {
    background-color: rgb(50, 50, 50);
  }