<!DOCTYPE html>

<html>
    <head>
        <title>Info Page</title>
        <%- include('../partials/head', {active: ""}) %>
        <script src="scripts\account.js"></script>
        <link rel="stylesheet" href="stylesheets\game.css">
    </head>
    <body>

        <div id="pageContent">
            
        </div>
        
    </body>
</html>