<!DOCTYPE html>

<html>
    <head>
        <title>Info Page</title>
        <link rel="stylesheet" href="stylesheets\events.css">
        <%- include('../partials/head', {active: "Events"}) %>
        <script src="scripts\events.js"></script>
    </head>
    <body>

        <div id="EventContent">
            <h1>Edit me :)</h1>
        </div>
        
    </body>
</html>