<!DOCTYPE html>

<html>
    <head>
        <title>Info Page</title>
        <%- include('../partials/head', {active: "Game"}) %>
        <script src="scripts\game.js"></script>
        <link rel="stylesheet" href="stylesheets\game.css">
    </head>
    <body>

        <div id="pageContent">
            <h1>Hello Gamers</h1>
        </div>
        
    </body>
</html>