<!DOCTYPE html>

<html>

<head>
    <title>Info Page</title>
    <%- include('../partials/head', {active: "Game" }) %>
        <%- include('../partials/login') %>
            <script src="scripts\game.js"></script>
            <link rel="stylesheet" href="stylesheets\game.css">
</head>

<body>

    <div id="pageContent">
        <h1>Hello Gamers</h1>
        
        <div id="StartGameDiv">
            <button type="button" class="button" id="startGame"><span>Start Game</span></button>
        </div>
        <div id="gameDiv" style="display: none";>
            <div id="panelDivs">
                <div id="img0" class="img"">
                    <div class="infoDiv">
                        <h1 id="name0" class="infoText"></h1>
                        <h1 id="number0" class="infoText rating"></h1>
                    </div>
                </div>

                <div id="img1" class="img"">
                    <div class="infoDiv">
                        <h1 id="name1" class="infoText"></h1>
                        <h1 id="number1" class="infoText rating"></h1>
                    </div>
                </div>

                <div id="img2" class="img"">
                    <div class="infoDiv">
                        <h1 id="name2" class="infoText"></h1>
                        <h1 id="number2" class="infoText rating"></h1>
                    </div>
                </div>
            </div>
            <br>
            <div id="buttonDiv">
                <button type="button" class="button" id="higher"><span><img style="height:25px; padding-right: 10px;"
                            src="images/up.png">Higher</span></button>
                <button type="button" class="button" id="lower"><span>Lower<img style="height:25px; padding-left: 10px;"
                            src="images/down.png"></span></button>
            </div>
            <!--<img class="img" id="img0" src="images/Events/BaboonTickles.png">
                <img class="img" id="img1"src="images/Events/Axolotl.png">
                <img class="img" id="img2"src="images/Events/SharkHigh5.png">-->
            <!--
            <div id="panelDivs">
                <div id="leftDiv" class="div left">

                    <div class="infoDiv">
                        <h1 id="leftName" class="infoText"></h1>
                        <h1 id="leftNumber" class="infoText"></h1>
                    </div>

                </div>

                <div id="rightDiv" class="div right">

                    <div class="infoDiv">
                        <h1 id="rightName" class="infoText"></br></h1>
                    </div>

                </div>
            </div>
            </br>
            <div id="buttonDiv">
                <button type="button" class="button" id="higher"><span><img style="height:25px; padding-right: 10px;"
                            src="images/up.png">Higher</span></button>
                <button type="button" class="button" id="lower"><span>Lower<img style="height:25px; padding-left: 10px;"
                            src="images/down.png"></span></button>
            </div>
        
        -->
        </div>
    </div>

</body>

</html>