<!DOCTYPE html>

<html>
    <head>
        <title>Info Page</title>
        <%- include('../partials/head') %>
        <script src="scripts\index.js"></script>
        <link rel="stylesheet" href="stylesheets\index.css">
    </head>
    <body>

        <div id="pageContent">
            <h1>Hello World</h1>
        </div>
    </body>
</html>